.left, .middle, .right {
    flex-grow: 1;
    margin-top:15px;
    width:33.3%;
    height:550px;
    border: rgb(170, 103, 3) 8px outset;
}
p {
    margin-bottom:2px;
}
.header-text {
    text-align:center;
    line-height:42px;
}

.header {
    background-color:rgb(202, 159, 79);
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
    margin-left:20px;
    height:50px;
    border-radius: 20px;
    border: rgb(114, 74, 15) 5px ridge;
}




/* Left Panel */




.left {
    background-color:rgb(150, 143, 133);
    
}

#character {
    background-color:wheat;
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
    margin-left:20px;
    height:120px;
    border-radius: 20px;
    border: rgb(114, 74, 15) 5px ridge;  
      
}

#player-stats, #enemy-stats {
    background-color:wheat;
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
    margin-left:20px;
    height:80px;
    border-radius: 20px;
    border: rgb(114, 74, 15) 5px ridge;
}


/* Middle Panel */
.middle {
    background-color:beige;
    margin-left:10px;
    margin-right:10px;
    
}

.buildingInfo {
    height:75px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:wheat;
    border: rgb(114, 74, 15) 5px ridge;
}

/* Container that holds all the buttons */
#buttonContainer {
    height:270px;
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
    margin-left:20px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    background-color:wheat;
    border: rgb(114, 74, 15) 5px ridge;
}

/* Actions/Buttons */
.actions {
    margin-top:10px;
    margin-bottom:5px;
    margin-left:10px;

}

.btn-primary {
    background-color: rgb(114, 74, 15);
    border: rgb(202, 159, 79) 5px ridge;
    font-size:12px;
}

.btn-primary:hover {
    background-color: rgb(114, 74, 15);
    border: rgb(150, 143, 133) 5px ridge;
    
}

/* Textbox Container */
.textbox {
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
    margin-left:20px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    background-color:wheat;
    border: rgb(114, 74, 15) 5px ridge;
}

#enemy {
    background-color:wheat;
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
    margin-left:20px;
    height:120px;
    border-radius: 20px;
    border: rgb(114, 74, 15) 5px ridge;  
      
}


/* Right Panel  */
.right {
    background-color:rgb(150, 143, 133);
}

.inventory {
    background-color:wheat;
    margin-top:10px;
    margin-right:20px;
    margin-bottom:10px;
    margin-left:20px;
    height:450px;
    border-radius: 20px;
    border: rgb(114, 74, 15) 5px ridge; 
}



.panel {
    text-align:center;
}

#textbox-text {
    overflow-y:auto;
    height:150px;
    font-size:12px;
}